/* Primary color: #2196F3
   Accent color: #B2FF59 */


header {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2196f3+0,55dbd9+44,b2ff59+100 */
	background: #2196F3; /* Old browsers */
	background: -moz-linear-gradient(left, #2196F3 0%, #55DBD9 44%, #B2FF59 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #2196F3 0%, #55DBD9 44%, #B2FF59 100%); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2196F3 0%, #55DBD9 44%, #B2FF59 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196F3', endColorstr='#B2FF59',GradientType=1 ); /* IE6-9 */
}

footer li a,
footer .mdl-logo {
	font-size: 20px !important;
}

#confirm-dialog {
	text-align: left;
	max-width: 450px;
}
#confirm-dialog ul {
	list-style-type: none;
	padding: 0;
}
#confirmation-text p {
	font-size: 18px;
}
#cancel-button {
	color: red;
}

#top-button {
    position: fixed;
    right: 50px;
    bottom: 130px;
    z-index: 1000;
}
#back-to-top-button {
	color: white;
	box-shadow: none;
}

#progressbar {
    margin: 10px auto;
}

#social-buttons-row {
	padding: 20px 10px 0 0;
}

.header-social-buttons {
	width: 60px;
	margin: 7px;
}

footer {
	background-color: #2196F3 !important;
}
footer a {
    color: white !important;
}
footer a:hover {
    text-decoration: underline;
}

h1 {
	margin: 0 auto;
}

.mdl-layout__header--scroll .mdl-layout__header-row {
	padding: 0;
}

.page-content {
	margin: 45px auto;
	max-width: 960px;
	padding: 0 20px;
}

.page-topic {
    /* Empty for now. */
}

#index-grid {
	margin: 0 auto;
}

.index-cell {
	width: 360px;
	height: 350px;
	margin: 0 auto;
	background: url('../img/circle-2.png') center / contain;
	background-repeat: no-repeat;
	text-align: center;
}

#onedrive-image-button {
	margin-top: 110px;
}

#dropbox-image-button {
	margin-top: 95px;
}

#drive-logo-button {
	margin-top: 95px;
}

#computer-image-button {
	margin-top: 120px;
}

#attribution-container {
  max-width: 550px;
}

#attribution-subtext {
    font-size: 16px;
}

.attribution-topics {
    font-size: 20px;
}
.attribution-topics,
.attribution-list {
    margin: 0;
    padding: 0;
}
.attribution-list {
    margin-bottom: 20px;
}

#dropzone {
    margin: 0 auto;
    max-width: 600px;
    border-radius: 15px;
    border: 3px dashed #999;
}
#editable-image {
    max-width: 600px;
}

#need-to-login-text {
	margin: 20px auto !important;
	text-align: left;
	font-size: 18px;
	line-height: 1.5;
}

#header-list {
    margin-top: 20px !important;
}

.mdl-card__media {
    background-color: #2196F3;
}

.mdl-card__actions img {
    cursor: pointer;
}
/* Avoid small green "dots" near icons. */
.mdl-card__actions a {
    color: transparent;
}

.mdl-card__actions i {
    color: #2196F3;
}
.mdl-card__actions i:hover {
    color: #B2FF59;
    cursor: pointer;
}

.icon-images {
    width: 20px;
}

#main-container {
    margin: 0 auto !important;
    max-width: 960px;
    padding: 20px;
}

#image-list .mdl-card {
    margin: 5px auto;
}

.mdl-navigation img {
  	margin-right: 15px;
    width: 20px;
    margin-bottom: 5px;
}

.contact-lists {
    max-width: 550px;
    margin: 0 !important;
}

.contact-lists img {
    width: 50px;
    margin-right: 15px;
}

#drive-logo-container,
#computer-image-container {
    margin: 0 auto;
    text-align: center;
    padding: 15px;
}

#home-page-container {
  margin-top: 50px;
}

#editlocal-page-container {
    text-align: center;
    max-width: 960px;
}

/* Styling for "Choose image"-button */

input[type="file"] {
    display: none;
}

#toast-container {
  	background-color: #F0F8FF;
}

.mdl-snackbar__text {
  	color: #2196F3;
}

#image-container {
  	margin: 20px 0;
}
#image-container label {
    margin-bottom: 15px;
}

.pagination-page {
    display: inherit;
}

/* USER MESSAGE */

.user-message {
		position: relative;
		display: block;
    max-width: 620px;
    margin: 10px auto;
    padding: 15px;
    border-radius: 12px;
}

#close-message-button {
	color: white;
	position: absolute;
	top: 7px;
	right: 7px;
	cursor: pointer;
}

#user-message-error {
    color: #D64541;
    background-color: #F1A9A0;
		background-color: rgba(241, 169, 160, .7);
}

/* SNACKBAR */

.mdl-snackbar {
    background-color: #C8F7C5;
}

.mdl-snackbar__text {
    color: #26A65B;
}

#top-text p {
    font-size: 18px;
}

#about-text p,
#contact-text {
    font-size: 18px;
    line-height: 1.5;
}

#worth-noting {
    font-weight: bold;
    text-decoration: underline;
    display: block;
    margin-top: 25px;
    margin-bottom: 5px;
}

#about-text,
#contact-text {
    max-width: 550px;
    margin-top: 15px;
}

.mdl-list__item a {
    color: #757575 !important;
    text-decoration: none;
}

#used-techniques {
    margin-top: 50px;
}

/* Dialog window */
@media screen and (min-width: 1025px) {
    .mdl-dialog {
        width: 50%;
    }
}
@media screen and (max-width: 1024px) {
    .mdl-dialog {
        width: 90%;
    }
}

.mdl-dialog .material-icons {
    color: #2196F3;
}

#go-back-button {
    margin-top: 50px;
}

#show-dialog {
    position: absolute;
    right: 5px;
    top: 5px;
}


/* Edit Online */

#editonline-page-container {
  	text-align: center;
}

#need-to-login-text {
	position: relative;
	max-width: 930px;
	margin: 0 auto;
	padding: 15px;
	color: #4183D7;
	background-color: #E4F1FE;
	border-radius: 8px;
}

.cursor-default {
	cursor: default;
}

.cursor-wait {
	cursor: wait;
}

#google-info-text {
	margin: 35px auto 0 auto;
	font-size: 26px;
	text-align: center;
}

.card-thumbnails {
	width: 128px;
	height: 128px;
}

#loading-animation-text {
	font-size: 18px;
	color: #BDC3C7;
	text-align: center;
}
